.root {
  @apply mt-24 bg-[#272727] py-16;

  .title {
    @apply text-white uppercase font-bold  text-center
    text-3xl
    lg:text-4xl
    xl:text-[42px] xl:leading-[60px];

    & > * {
      @apply text-primary-500;
    }
  }

  .toggleContainer {
    @apply flex justify-center my-[25px]
    lg:my-[35px]
    xl:my-[45px];
  }
}
